<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    modules: [],
                    left_pitch: null,
                    right_pitch: null,
                    new_left_pitch: null,
                    new_right_pitch: null,
                    files: null,
                    ip: '{{ ip }}'
                },
                mounted() {
                    this.getModules();
                },
                methods: {
                    getModules: function() {
                        axios.get("{{ url_for('get_modules') }}")
                            .then((res) => {
                                this.modules = res.data;
                            })
                            .catch((error) => {
                                console.error("failed to get current pitch");

                                console.error(error);
                            })
                    },
                    updateFirmware: () => {
                        this.checkIfPitchesChanged();
                        {#let self = this;#}
                        mac = "00:18:B7:89:45:40";
                        let data = new FormData();
                        data.append('file', this.files);
                        data.append('ids', mac);
                        {#this.set('isFirmwareUpdating', true);#}

                        axios.post('http://10.0.0.3/api/devices?command=update-firmware', data)
                            .then(function (response) {
                                console.log(response)

                            }).catch(function (error) {
                            console.log(error)

                        })
                    },
                    checkIfPitchesChanged: function() {
                        {#if(parseFloat(this.new_left_pitch) !== this.left_pitch) {#}
                        {#    console.log(parseFloat(this.new_left_pitch));#}
                        {#    console.log(this.left_pitch);#}
                        {#return;#}

                    }

                }
            });
        };
    </script>
</head>
<body>
<div id="app" class="container">
    <h4 style="margin-top: 2rem">Select pitch size</h4>
    <div class="row" style="margin-top: 2rem">
        <div class="col-sm-3">
            <h5>Left</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_left_pitch" id="new_left_pitch-1.6" value="1.6">
                <label class="form-check-label" for="new_left_pitch-1.6">
                    1.6
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_left_pitch" id="new_left_pitch-2.0" value="2.0">
                <label class="form-check-label" for="new_left_pitch-2.0">
                    2.0
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_left_pitch" id="new_left_pitch-2.5" value="2.5">
                <label class="form-check-label" for="new_left_pitch-2.5">
                    2.5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_left_pitch" id="new_left_pitch-4.0" value="4.0">
                <label class="form-check-label" for="new_left_pitch-4.0">
                    4.0
                </label>
            </div>
        </div>

        <div class="col-sm-3">
            <h5>Right</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_right_pitch" id="new_right_pitch-1.6" value="1.6">
                <label class="form-check-label" for="new_right_pitch-1.6">
                    1.6
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_right_pitch" id="new_right_pitch-2.0" value="2.0">
                <label class="form-check-label" for="new_right_pitch-2.0">
                    2.0
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_right_pitch" id="new_right_pitch-2.5" value="2.5">
                <label class="form-check-label" for="new_right_pitch-2.5">
                    2.5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" v-model="new_right_pitch" id="new_right_pitch-4.0" value="4.0">
                <label class="form-check-label" for="new_right_pitch-4.0">
                    4.0
                </label>
            </div>
        </div>

        <div class="col-sm-3">
            <button v-if="this.new_left_pitch || this.new_right_pitch" v-on:click="this.updateFirmware" class="btn btn-primary">Update Pitch</button>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>