<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selector.css') }}">

    <style>
        html {
            background: url("{{ url_for('static',filename='images/d3bg.png') }}") no-repeat 0px 0px;
        }
        [v-cloak] {
            display: none;
        }
    </style>

    {#    <script src="{{ url_for('static', filename='axios.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='vue.js') }}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        if (navigator.onLine) {
            console.log('online');
        } else {
            console.log('offline');
        }
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    modules: null,
                    new_left_pitch: null,
                    new_right_pitch: null,
                    pollUpdateInterval: null,
                    isUpdateInProgress: null,
                    successNotif: false,
                },
                mounted() {
                    this.getModules();
                },
                computed: {
                    wasNewValueSelected: function () {
                        return this.modules? ((this.new_left_pitch !== this.modules['left']['pitch']) || (this.new_right_pitch !== this.modules['right']['pitch'])) : false;
                    },
                    wasLeftPitchChanged: function () {
                        return (this.new_left_pitch !== this.modules['left']['pitch']);
                    },
                    wasRightPitchChanged: function () {
                        return (this.new_right_pitch !== this.modules['right']['pitch']);
                    }
                },
                methods: {
                    getModules: function() {
                        axios.get("{{ url_for('get_modules') }}")
                            .then((res) => {
                                this.modules = res.data;
                            })
                            .catch((error) => {
                                console.error("failed to get current pitch");
                                console.error(error);
                            })
                    },
                    updateButtonHandle: async function() {
                        if(!this.wasNewValueSelected) {
                            console.log('new value was not selected');
                            return;
                        }
                        if(this.wasLeftPitchChanged)
                            await this.updateFirmware(this.modules['left']['mac'], this.new_left_pitch);

                        if(this.wasRightPitchChanged)
                            await this.updateFirmware(this.modules['right']['mac'], this.new_right_pitch);

                    },
                    updateFirmware: function(mac, pitch) {
                        console.log("updating firmware request");
                        let data = new FormData();
                        data.append('mac', mac);
                        data.append('pitch', pitch);
                        self = this;
                        axios.post("{{ url_for('update_firmware') }}", data)
                            .then(function (response) {
                                if(response.status == 200) {
                                    self.isUpdateInProgress = true;
                                    self.pollUpdateInteval = setInterval(self.pollFirmwareUpdateStatus, 3000); // Time in milliseconds

                                }
                            })
                            .catch(function (error) {
                                console.log(error)
                            })
                    },
                    pollFirmwareUpdateStatus: function() {
                        self = this;

                        console.log("polling firmware update status.... :");
                        axios.get("{{ url_for('poll_firmware_update') }}")
                            .then(function (response) {
                                var isFinishedStatus = response.data.data[0].attributes["is-finished"];
                                if(isFinishedStatus) {
                                    clearInterval(self.pollUpdateInteval);
                                    self.isUpdateInProgress = false;
                                    self.successNotif = true;
                                }

                                console.log(isFinishedStatus)

                            })
                            .catch(function (error) {
                                console.log(error)

                            })

                    },
                    rebootDevices: function(mac) {
                        data = new FormData();
                        data.append('mac', mac);
                        axios.post("{{ url_for('reboot_devices') }}", data)
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function(error) {
                                console.log(error)

                            })
                    }
                },
                watch: {
                    modules: function(val) {
                        if(val) {
                            this.new_left_pitch = val['left']['pitch'];
                            this.new_right_pitch = val['right']['pitch'];
                        }
                    },
                }
            })}
    </script>
</head>
<body>
<div v-cloak id="app" class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h1>Select pitch on LEFT side</h1>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_left_pitch" id="option-1" type="radio" value="1.6"/>
                    <input class="option-input" v-model="new_left_pitch" id="option-2" type="radio" value="2.0"/>

                    <label class="option" for="option-1">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            1.6<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-2">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_left_pitch" id="option-3" type="radio" value="2.5"/>
                    <input class="option-input" v-model="new_left_pitch" id="option-4" type="radio" value="4.0"/>

                    <label class="option" for="option-3">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.5<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-4">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            4.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h1>Select pitch on right side</h1>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_right_pitch" id="option-5" type="radio" value="1.6"/>
                    <input class="option-input" v-model="new_right_pitch" id="option-6" type="radio" value="2.0"/>

                    <label class="option" for="option-5">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            1.6<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-6">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_right_pitch" id="option-7" type="radio" value="2.5"/>
                    <input class="option-input" v-model="new_right_pitch" id="option-8" type="radio" value="4.0"/>

                    <label class="option" for="option-7">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.5<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-8">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            4.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
        </div>
    </div>

    </div>
    <div v-if="!this.leftPitch && this.wasNewValueSelected">
        <div v-if="!this.isUpdateInProgress">
            <div v-on:click="this.updateButtonHandle" v-if="!this.successNotif" class="tile tile-style">
                <span class="status-msg">Update</span>
            </div>
            <div v-if="this.successNotif" class="tile progress-bar bg-success" role="progressbar" style="width: 400px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="status-msg">
                     Update successful
                </span>
            </div>
        </div>
        <div v-else>
            <div class="progress-bar-animated progress-bar-striped progress-bar bg-danger tile" role="progressbar"
                 style="width: 400px; height:50px" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <span class="status-msg">Updating...</span>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>