<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selector.css') }}">

    <style>
        html {
            background: url("{{ url_for('static',filename='images/gray.png') }}") no-repeat 0px 0px;
            background-size: cover;
        }
        [v-cloak] {
            display: none;
        }
    </style>

    <script src="{{ url_for('static', filename='scripts/vue.js') }}"></script>

    <script>
        if (!navigator.onLine) {
            console.log('offline');
        }
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    modules: null,
                    new_left_pitch: null,
                    new_right_pitch: null,
                    pollUpdateInterval: null,
                    isUpdateInProgress: false,
                    modulesUpdatedCount: 0
                },
                mounted() {
                    this.getModules();
                },
                computed: {
                    wasLeftPitchChanged: function () {
                        return (this.new_left_pitch !== this.modules['left']['pitch']);
                    },
                    wasRightPitchChanged: function () {
                        return (this.new_right_pitch !== this.modules['right']['pitch']);
                    },
                    modulesToUpdateCount: function () {
                        //TODO: update 2 devices even if only left changed; 1 if only right
                        //restarted the controller after 1st update before 2nd because
                        return this.modules? ((this.wasLeftPitchChanged? 1 : 0) + (this.wasRightPitchChanged? 1 : 0)) : false;
                    }
                },
                methods: {
                    getModules: function() {
                        let httpRequest = new XMLHttpRequest();
                        self = this;
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    self.modules = JSON.parse(httpRequest.response);
                                    self.new_left_pitch = self.modules['left']['pitch'];
                                    self.new_right_pitch = self.modules['right']['pitch'];
                                    self.isUpdateInProgress = false;
                                } else {
                                    console.log("failed to get current pitch:" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('GET', "{{ url_for('get_modules') }}", false);
                        httpRequest.send();
                    },
                    updateButtonHandle: async function() {
                        console.log("updateButtonHandle entered");
                        this.modulesUpdatedCount = 0;

                        if (this.wasLeftPitchChanged) {
                            let mac = this.modules['left']['mac'];
                            let pitch = this.new_left_pitch;
                            let id = this.modules['left']['id'];

                            this.updateFirmware(mac, pitch, id);
                        }
                        if(this.wasLeftPitchChanged || this.wasRightPitchChanged) {
                            let mac = this.modules['right']['mac'];
                            let pitch = this.new_right_pitch;
                            let id = this.modules['right']['id'];
                            if(this.wasLeftPitchChanged) {
                                setTimeout(this.updateFirmware, 30000, mac, pitch, id);
                            } else {
                                this.updateFirmware(mac, pitch, id);
                            }
                        }
                    },
                    updateFirmware: function(mac, pitch, id) {//setInterval to retry updates? clearInterval in response successful body
                        let data = new FormData();
                        data.append('mac', mac);
                        data.append('pitch', pitch);

                        let httpRequest = new XMLHttpRequest();
                        self = this;
                        httpRequest.onreadystatechange = function(){
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("started firmware update");
                                    self.isUpdateInProgress = true;
                                    self.pollUpdateInterval = setInterval(self.pollFirmwareUpdateStatus, 5000, id);
                                } else {
                                    console.log("failed to update firmware:" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('update_firmware') }}", false);
                        httpRequest.send(data);
                    },
                    pollFirmwareUpdateStatus: function(id) {
                        self = this;
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    let isFinishedStatus = JSON.parse(httpRequest.response).data[0].attributes["is-finished"];
                                    console.log(isFinishedStatus ? "pollFirmwareUpdateStatus----flashed firmware 100%"  : "pollFirmwareUpdateStatus---flashing firmware...")
                                    if(isFinishedStatus) {
                                        clearInterval(self.pollUpdateInterval);
                                        self.rebootDevice(id);
                                    }
                                } else {
                                    console.log("failed to pollFirmwareUpdateStatus:" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('GET', "{{ url_for('poll_firmware_update') }}", false);
                        httpRequest.send();
                    },
                    rebootDevice: function(id) {
                        let data = new FormData();
                        data.append('id', id);
                        self = this;
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("started rebooting devices");
                                    self.pollRebootProgress(id);
                                } else {
                                    console.log("failed to start rebooting devices" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('reboot_devices') }}", false);
                        httpRequest.send(data);
                    },
                    pollRebootProgress: function (id) {
                        self = this;
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = async function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    let isFinished = JSON.parse(httpRequest.response).data[0].attributes["is-finished"];
                                    console.log(isFinished ? "poll reboot progress----rebooted fully"  : "poll reboot progress-----rebooting still...");
                                    if(isFinished) {
                                        self.patchModules(id);
                                        self.saveConfig();
                                        self.patchLayouts(id);
                                        ++self.modulesUpdatedCount;
                                        if (self.modulesUpdatedCount === self.modulesToUpdateCount) {
                                            self.restartController();
                                            self.restartScheduler();
                                            setTimeout(self.getModules, 10000);
                                        }
                                    }
                                } else {
                                    console.log("failed to poll reboot progress" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('GET', "{{ url_for('poll_reboot') }}", false);
                        httpRequest.send();
                    },
                    patchModules: function (id) {
                        let data = new FormData();
                        data.append('module_id', id);

                        if (id === this.modules['left']['id']) {
                            data.append('new_pitch', this.new_left_pitch);
                        }
                        if (id === this.modules['right']['id']) {
                            data.append('new_pitch', this.new_right_pitch);
                            data.append('left_offset_pitch', this.new_left_pitch);
                        }

                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("patched modules");
                                } else {
                                    console.log("failed to patch modules" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('patch_modules') }}", false);
                        httpRequest.send(data);
                    },
                    patchLayouts: function (id) {
                        let data = new FormData();

                        if (id === this.modules['left']['id']) {
                            data.append('new_pitch', this.new_left_pitch);
                        }
                        if (id === this.modules['right']['id']) {
                            data.append('new_pitch', this.new_right_pitch);
                            data.append('left_offset_pitch', this.new_left_pitch);
                        }

                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("patched layouts");
                                } else {
                                    console.log("failed to patch layouts" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('patch_layouts') }}", false);
                        httpRequest.send(data);
                    },
                    restartController: function () {
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("restarted controller");
                                } else {
                                    console.log("failed to restart controller" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('restart_controller') }}", false);
                        httpRequest.send();
                    },
                    restartScheduler: function () {
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("restarted scheduler");
                                } else {
                                    console.log("failed to restart scheduler" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('restart_scheduler') }}", false);
                        httpRequest.send();
                    },
                    saveConfig: function () {
                        let httpRequest = new XMLHttpRequest();
                        httpRequest.onreadystatechange = function() {
                            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                                if (httpRequest.status === 200) {
                                    console.log("saved configuration");
                                } else {
                                    console.log("failed to save configuration" + httpRequest.statusText);
                                }
                            }
                        };
                        httpRequest.open('POST', "{{ url_for('save_configuration') }}", false);
                        httpRequest.send();
                    }
                }
            })}
    </script>
</head>
<body>
<div v-cloak id="app" class="container">
    <div class="row" v-if="!this.isUpdateInProgress">
        <div class="col-md-6">
            <div>
                <h1>Select pitch
                    on LEFT side
                </h1>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_left_pitch" id="option-1" type="radio" value="1.6"/>
                    <input class="option-input" v-model="new_left_pitch" id="option-2" type="radio" value="2.0"/>

                    <label class="option" for="option-1">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            1.6<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-2">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_left_pitch" id="option-3" type="radio" value="2.5"/>
                    <input class="option-input" v-model="new_left_pitch" id="option-4" type="radio" value="4.0"/>

                    <label class="option" for="option-3">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.5<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-4">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            4.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h1>Select pitch
                    on right side
                </h1>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_right_pitch" id="option-5" type="radio" value="1.6"/>
                    <input class="option-input" v-model="new_right_pitch" id="option-6" type="radio" value="2.0"/>

                    <label class="option" for="option-5">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            1.6<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-6">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" v-model="new_right_pitch" id="option-7" type="radio" value="2.5"/>
                    <input class="option-input" v-model="new_right_pitch" id="option-8" type="radio" value="4.0"/>

                    <label class="option" for="option-7">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            2.5<sub>mm</sub>
                        </span>
                    </label>

                    <label class="option" for="option-8">
                        <span class="option__indicator"></span>
                        <span class="option__label">
                            4.0<sub>mm</sub>
                        </span>
                    </label>

                </div>
            </div>
        </div>
    </div>

    <div v-if="this.isUpdateInProgress">
        <div class="progress-bar-animated progress-bar-striped progress-bar bg-warning tile" role="progressbar"
             style="width: 400px; height:50px" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <span class="status-msg">Updating displays...</span>
        </div>
    </div>
    <div v-if="!this.isUpdateInProgress && this.modulesUpdatedCount && !this.modulesToUpdateCount" class="tile progress-bar-striped bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <span class="status-msg">Update successful</span>
    </div>
    <div v-if="!this.isUpdateInProgress && this.modulesToUpdateCount" v-on:click="this.updateButtonHandle" class="tile" style="background-color: darkorange;">
        <span class="status-msg">Update</span>
    </div>
</div>

<!-- jQuery first, then Bootstrap JS -->
<script src="{{ url_for('static', filename='scripts/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>
</html>